<!doctype html>
<html lang="pt-br">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="public/stylesheets/style.css">
  <style>
    body {
    background: url('public/logo/logo.jpg')
    center top no-repeat; 
    background-size: 100% 100%;
    background-attachment:fixed;
    }
  </style>
  <title>Página do Clado</title>

</head>

<body>
  <!-- /HEADER -->
  <!-- Navbar -->
  <div id="header">
    <div class="container-fluid">

      <nav class="navbar navbar-light bg-light fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Táxons</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
            aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasNavbarLabel"><%= user %></h5>
              <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/home">Inicio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="./perfil">Perfil</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="./login">Sair</a>
                </li>
              </ul>
              <!-- Pesquisar -->
              <form class="d-flex" action="/pesquisar" method="post">
                <input class="form-control me-2" type="search" placeholder="Pesquisar" aria-label="Perfil" name="pesquisar">
                <button class="btn btn-outline-dark" type="submit">Pesquisar</button>
              </form>
              <!-- Pesquisar -->
            </div>
          </div>
        </div>
      </nav>

    </div>
  </div>
  <!-- /Navbar -->
  <!-- /HEADER -->
  <!-- /SLIDER -->
  <div id="slider">
    <!-- Resumo -->
    <div class="slider1">
      <div class="resumo">
        <div class="hstack gap-3" style="position:relative;">
          <div style="max-width: 1000px;">
            <%= title[0].nome %>: <%= title[0].resumo %>
          </div>
          <div class="ms-auto">
            <form action="/adicionarArquivos" method="post">
              <div class="d-grid gap-2">
                <div><input type="hidden" name="nome" value="<%= title[0].nome %>"> </div>
                <button type="submit" class="btn btn-outline-dark">Adicionar imagens ou pesquisa!</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="hstack gap-3">
        
        <div class="ms-auto">
        </div>
      </div>
    </div>
    <!-- /Resumo -->
    <!-- DIV DO BD -->
    <div class="tabela">
      <div class="p4">
        <h2 class="p5">Artigos!</h2>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 overflow">
            <% for(var i=0; i < pesquisa.length; ++i) {%>
            <div class="slider2" style="align-items: center; padding-top: 10px;">
              <a class="link-light" href="public/uploads/<%=pesquisa[i].fileName%>"><%= pesquisa[i].originalname %></a>  
            </div>
            <% } %>
          </div>
        </div>
      </div>
    </div>
    <% if (img.length>0) { %>
      <!-- IMAGENS -->
      <div class="tabela row">
        <div class="p4">
          <h2 class="p5">Imagens coletadas!</h2>
        </div>
        <% for(var i = 0; i < img.length; ++i) {%>
          <div class="slider3 col-3">
            <img class="sliderImg d-flex justify-content-center" src="public/uploads/<%=img[i].fileName%>">
            <div class="itensCenter"><%=img[i].nome%></div>
          </div>
        <% } %>
      </div>
      <!-- IMAGENS -->
     <% } %>
    </div>
    <!-- /DIV DO BD -->
  </div>
  <!-- /SLIDER -->

  <script src="public/javascripts/bootstrap.bundle.min.js"></script>
  <script src="public/javascripts/index.js"></script>

</body>

</html>